.verh {
    background-color: #2F4F4F;
}


.niz{
background-color: #2F4F4F;
border:2px solid black;
margin-bottom: 15px;
border-radius: 5px;
padding: 10px;
width: 80%;

}
.f{
background-color: #778899;
}