{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="{% static 'style.css' %}">
</head>
    <body>
        {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit">Оправить</button>
        </form>
        {% endif %}
        <div class="f">
<!--            <select >-->
<!--                {% for user in users %}-->

<!--                    <option>{{user.username}} {{user.name}} {{user.age}}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->


            <ul>
                {% for user in users %}
                    <li >{{user.username}}<br> {{user.first_name}}<br> {{user.last_name}}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>